<body style="background-color:MediumPurple  ;">
</body>

<p><span class="hbaslik"><b><h1>TRAMVAY PROBLEMİ VAKA ÇALIŞMASI </h1></b> </span></p>
<br/>
<br/>
<br/>

<font face="Courier New" size="2" color="white">
<b>VAKA TANIMI</font></b>
<p><font size="2" face ="Courier New"  color="white">
Tramvay problemini günümüze uyarlayalım.<br/> Otonom bir aracı programladığınızı düşünün.<br/>
Kritik kaza durumlarında o aracın nasıl davranacağına<br/> siz karar vereceksiniz.
Bu durumda aracın <br/>davranışlarını nasıl programlardınız?</font></p>

<font face="Courier New" size="2" color="white">
<b>TRAMVAY PROBLEMİ</font></b>
<p><font size="2" face ="Courier New"  color="white">
1967’de filozof Philippa Foot bir düşünce<br/> deneyi tasarladı: Tramvay problemi.<br/> Bir demir yolunda ilerleyen ve frenleri bozulan <br/>tramvayın bir makasa yaklaştığını hayal edin. Makas ana<br/> yoldan ayrılan ikinci bir yola geçişi sağlıyor.<br/> Ana demir yolunun üstünde tramvayın yaklaştığından<br/> habersiz beş işçi var. Siz de demir yolu makasının hemen yanında<br/> onu değiştiren kolun önündesiniz. Eğer kolu çekerseniz <br/>tramvay ikinci yola geçecek ve böylece o beş kişinin<br/> hayatını kurtarmış olacaksınız.<br/> Ancak ikinci yolun üstünde de bir kişi var ve siz<br/> makas değiştirince bu kez o kişi ölecek.<br/> Bu durumda ne yapardınız?
</font></p>
<font face="Courier New" size="2" color="white">
<p><span class="highlight"><b>KONU ANALİZİ</b><br/>Tramvay problemi uzun süredir bir çok yerde konu <br/>olmuş, tartışılmış bir problem. Ve sadece tek bir örnekle <br/>kalmayıp durumlar çeşitlendirilerek insanların hangi yönde<br/> seçim yapacağı büyük deneyler ile gözlemlenmiş durumda. <br/>Bir otonom aracı programlarken ona duygu ekleyemeyiz. Bu <br/>tarz bir durumda bir insan gibi davranmasını bekleyemeyiz.<br/> Dolayısıyla onu programlarken bu detayları eklemeliyiz.<br/> İnsanların büyük bir topluluğu Tramvay Problemi’nde <br/>5 işçinin ölmesi yerine 1 kişinin ölmesini tercih etmiştir.<br/> Buradan insanların kurtarabilecekleri en fazla sayıda <br/>kişiyi kurtarmayı seçtiğini görüyoruz.<br/> <br/>Bilim kurgu yazarı Isaac Asimov 1942 yılında "Runaround" <br/>isimli kısa  öyküsünde robotların ahlaki değerlerine değindi<br/> ve Asimov “Üç Robotik Yasası” adında bir dizi kural yazdı.<br/> Bu kurallar şu şekildeydi:<br/>
1.	Bir robot, bir insana zarar veremez ya da zarar<br/> görmesine seyirci kalamaz.<br/>
2.	Bir robot, birinci kuralla çelişmediği sürece bir <br/>insanın emirlerine uymak zorundadır.<br/>
3.	Bir robot, birinci ve ikinci kuralla çelişmediği sürece <br/>kendi varlığını korumakla mükelleftir.<br/>

Ancak bu yasalar Tramvay Problemine karşı bir çözüm sunmuyor.<br/> Ancak bu “Üç Robotik Yasası”’nı verilerimizi <br/>gözden geçirerek kendi problemimize uyarlayabiliriz.
 </span></font></p>
 <br/>
 <br/>
 <br/>
 <br/>
 <font face="Courier New" size="2" color="white">
 <p><span class="h"><b>ARAŞTIRMA VE İSTATİKSEL VERİLER<br/></b>
2016 yılında MIT Üniversitesi tarafından Moral Machine isimli<br/> bir test tasarlandı. Bu testte binlerce farklı olasılıktan<br/> oluşan sorular vardı. Örneğin farklı özelliklere sahip insanlara <br/>yer verildi; genç, yaşlı, kadın, erkek, çocuk, doktor, atletik gibi. <br/>Bunun yanında testte kedi, köpek gibi hayvanlara da yer verildi.<br/> Bu olasılıkların hepsinde aslında Tramvay Probleminin farklı <br/>varyasyonlarına değinilmiş olundu. Dünyanın 200 ülkesinden <br/>yaklaşık 2 Milyon insan bu sorulara cevap verdi.  Moral Machine<br/> bu konuyla ilgili yapılmış en büyük bilimsel araştırma haline geldi.<br/> Ve araştırma sonucunda bölgelere göre farklı istatistiksel sonuçlar<br/> çıktı. Asya ve Orta Doğu ülkeleri çocuklar karşısında daha çok yaşlıları<br/> ve yetişkinleri hayatta tutmayı seçti. Güney Amerika ülkeleri kilolular<br/> karşısında atletik insanların yaşamasına karar verdi. Ekonomik <br/>farklılıkların çok fazla olduğu Kolombiya, Venezuela gibi ülkelerde iş<br/> adamları karşısında evsiz insanları taşıyan aracın bariyere çarpmasını <br/>tercih ettiğini görüyoruz. Aslında etik yargı mekanizmamıza etki eden<br/> unsurlardan birinin de coğrafi unsurlar olduğunu burada rahatlıkla <br/>görebiliyoruz. Yandaki görsellerde bu testte yer alan sorulardan <br/>bazılarına yer verilmiştir.<br/></font></span></p>
 <img src="https://images.collection.cooperhewitt.org/344850_174e2aab066767e4_b.jpg" alt="Otonom araç ne yapmalıdır?" width="260" height="180" style="position:absolute; left: 1020px; top:1020px">
 <br/>
 <br/>
 <br/>
 <img src="https://compote.slate.com/images/35dccf88-395e-463e-98bb-d11e66e54c41.png" alt="" width="260" height="180" style="position:absolute; left: 750px; top:820px">
 <font face="Courier New" size="2" color="white">
 <img src="https://scx1.b-cdn.net/csz/news/800/2020/takinganothe.jpg" alt="" width="565" height="340"style="position:absolute; left: 100px; top: 1350px" >
 <br/>
 <br/>
 <font face="Courier New" size="2" color="white">
 <p><span class="hh"><b>SONUÇ<br/></b>
 Bu istatiksel veriler sonucunda ben de insanların<br/>  çoğunluğununfikrine katılıyorum ve eğer bir otonom<br/>  araç programlıyor olsaydım kritik kaza anlarındaki<br/>  karar mekanizmasını şu üç maddeye göre ilerlerdim;<br/>
1.	İnsanları korumaya öncelik ver.<br/>
2.	Olabildiğince çok insanı koru.<br/>
3.	Küçük yaşta olan insanları korumaya öncelik ver.<br/>
Bu maddelerden anlaşılacağı üzere programladığım otonom<br/>  aracın olası bir kaza durumunda olabildiğince çok ve genç<br/>  insanı kurtarmasına odaklanırdım.
<br/></font></span></p>
<br/>
<br/><br/>
<br/>
<font face="Courier New" size="2" color="white">
<span class="kaynakca"<b>Kaynakça: https://www.moralmachine.net, https://evrimagaci.org/tramvay-problemleri-ve-etik-ikilem-sorulari-siz-olsaniz-ne-yapardiniz-1563, https://www.robotakademi.org/isaac-asimovun-uc-robot-yasasi/</font></b></span>
