// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

   .highlight
     {
       background-color: Tan  ;
        position: absolute;
        left: 750px;
        top: 190px;
     }
     .high
       {

          position: absolute;
          left: 750px;
          top: 820px;
       }
       .h{
         background-color: Tan;
          position: absolute;
          left: 100px;
          top: 820px;
       }
       .hh{
         background-color: IndianRed  ;
          position: absolute;
          left: 750px;
          top: 1350px;
       }
       .kaynakca{
         position: absolute;
         left: 100px;
         top: 1720px;
       }
